
Dot_array_point.prj
resources/project/Project.xml
resources/project/ProjectData.type.Info.xml
resources/project/Root.type.Categories/FileClassCategory.type.Category.xml
resources/project/Root.type.Categories/FileClassCategory.type.Category/artifact.type.Label.xml
resources/project/Root.type.Categories/FileClassCategory.type.Category/convenience.type.Label.xml
resources/project/Root.type.Categories/FileClassCategory.type.Category/derived.type.Label.xml
resources/project/Root.type.Categories/FileClassCategory.type.Category/design.type.Label.xml
resources/project/Root.type.Categories/FileClassCategory.type.Category/none.type.Label.xml
resources/project/Root.type.Categories/FileClassCategory.type.Category/other.type.Label.xml
resources/project/Root.type.Categories/FileClassCategory.type.Category/test.type.Label.xml
resources/project/Root.type.Files/fig01.pdf.type.File.xml
resources/project/Root.type.Files/integral_one.m.type.File.xml
resources/project/Root.type.Files/integral_one2.m.type.File.xml
resources/project/Root.type.Files/integral_oneG.m.type.File.xml
resources/project/Root.type.Files/integral_oneG2.m.type.File.xml
resources/project/Root.type.Files/integral_t.m.type.File.xml
resources/project/Root.type.Files/integral_t2.m.type.File.xml
resources/project/Root.type.Files/integral_test.m.type.File.xml
resources/project/Root.type.Files/integral_tG.m.type.File.xml
resources/project/Root.type.Files/integral_tG2.m.type.File.xml
resources/project/Root.type.Files/integrate_numeric.m.type.File.xml
resources/project/Root.type.Files/mask_dot_array_point.m.type.File.xml
resources/project/Root.type.Files/README.md.type.File.xml
resources/project/Root.type.Files/testG.m.type.File.xml
resources/project/Root.type.Files/tptiltvariances.m.type.File.xml
resources/project/Root.type.Files/untitled2.m.type.File.xml
resources/project/Root.type.ProjectPath/505a2915-2900-4454-95cf-9c06601773d7.type.Reference.xml
resources/project/uuid-2aa5791a-186e-405f-b8f7-ff37939d0b02.xml
integral_t.m~
integral_limite_one.m
integral_limite_t.m
Integral_limite_test.m
integral_one.m
integral_one2.m
integral_oneG.m
integral_oneG2.m
integral_t.m
integral_testG.fig
integral_testG.m
integral_tG.m
integral_tG2.m
integrate_numeric.m
dift1lab.pdf
dift1dome.pdf
dot_array_point.html
dot_array_point2.html
fig10.fig
fig10.jpg
fig11.fig
fig11.jpg
fig4.fig
fig4.jpg
fig5.fig
fig5.jpg
fig8.fig
fig8.jpg
fig9.fig
fig9.jpg
i1dome.pdf
i1lab.pdf
Weight Functions for C2n (total variance).prj
Weight Functions for C2n (total variance).mlappinstall
test_exported.m
matlab.mat
Itlab.pdf
